/*----------------------------------------home page-----------------------------------------------------------*/
.headerHome {
      display: flex;           
        justify-content: space-between; /* pushes items to edges */
        align-items: center;     
        background-color: #0e3013; 
        padding: 10px 20px; 
      
    }
.menuItemDiv{
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

.menuItemDiv a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 30px;
    font-size: 15px;
}

.headerHome .logoHome {
      font-size: 22px;
      font-weight: bold;
    }
.logoout a {
  text-decoration: none;
  color: white;  
  font-weight: bold;
  padding-right: 40px;
}
.menuItem{
    padding-right: 0%;
}


/*---------------------------------------Suggestion table---------------------------------------------*/

.imp{
    color: red;
}
.suggestionForm label{
    width: 150px;
    display: inline-block;
    padding-left: 30px;
    font-size: 18px;
}
.fullContainer h2{
    padding-left: 30px;
    
}
.suggestionForm input{
    width: 250px;
    height: 25px;
    font-size: 14px;
}


/*---------------------------------------Dashboard content---------------------------------------------*/
.banner{
    display: block;
    margin: 0px;
    padding: 0px;
}
.banner img{
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
}

.cuisinesContainer{
    display: block;
    margin: 0px;
    padding: 0px;
    background-color: #0e3013;
}
.cuisines {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 20px;
      padding: 20px;
    }

    .cuisine-card {
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      background: #fff;
      cursor: pointer;
      
    }
    .cuisine-card img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 8px;
    }

    .cuisine-card p {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }

    .cuisinesContainer h3{
        text-align: center;
        margin: 0px;
        color: white;
        font-size: 30px;
        padding-top: 10px;
    }